body {
  font-family: sans-serif;
  background-image: url("../images/ground-1.jpg");
  color: rgb(23, 171, 52);
}
div {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}
#grease
{
  width:100%;
  text-align: center;
}
.menunav-barlink-style
{
  display: inline-block;
}
