
@font-face {
font-family: 'ariel' ;
src: url('../fonts/ariel-Regular.ttf') format('opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ariel' ;
src: url('../fonts/ariel-Bold.ttf') format('opentype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ariel' ;
src: url('../fonts/ariel-Regular.ttf') format('opentype');
font-weight: normal;
font-style: normal;
}
