/*  header: */
header {
    background-color: #26272b;
    font-family: sans-serif;
    font-size: 10pt;
    list-style-type:none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width:100%
  }
#index-header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:100%
}

#about-header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:100%

}

#contact-header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:100%

}

#services-header{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width:100%

}

/* Body */
body {
   background-color: #ffffff;
   background-repeat: repeat-x;
   background-attachment: fixed;
 }
 .main-container {
   background: rgb(#aa93d4);
   border: 4px solid #607d8b;
   position: center;
 }
 .secondary-container {
   border: 4px solid ##b58907;
   position: center;
 }



/* menu: */
/* JUSTINE deleted } found here */
.item-menu {
    margin: 0.5 0;
    min-width: 5em;
    text-align: center;
    background-color: #c5c5c5;
    padding: 11px 12px;
    display: inline-block; /* JUSTINE to get all links to butt-up against each other */
}

/* Style the links: */
.item-menu a {
    color: #000000;
    text-decoration: none;
}
.item-menu:hover {
    background-color: #2a5b73;
}

/* dropdown feature: */

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    /*margin: 150px;
    margin-top: 0.5em;*/
    color: #000;
    background-color: #fff;
    z-index: 1;

    min-width: 11.5em;
    margin-left: -12px; /* to account for the 12px of padding you have in .item-menu */
    margin-top: 11px; /* to account for the 12px of padding you have in .item-menu */
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #baf0ef;
    background-color: #a2a2a2;
}

/* image position */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


/* fonts */
h1 {
  font-family: 'BELLABOO', sans-serif;
}
h2 {
  font-family: 'Gill Sans MT Condensed', sans-serif;
}
h3 {
  font-family:'Plantagenet Cherokee', serif;

}
p {
  font-family: 'Plantagenet Cherokee', serif;
}
